<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li> Python</li>
    <li> R</li>
    <li> SQL</li>
    <li> Scala</li>
    <li> Java</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Matplotlib</li>
    <li>Seaborn</li>
    <li>Tensorflow</li>
    <li>Numpy</li>
    <li>Pandas</li>
</ol>

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
  <tr>
    <td>Apache Zeppelin</td>
  </tr>
</table>

<h3> Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Objectives:
<ul>
    <li>title</li>
    <li>Some of the popular languages that Data Scientists</li>
    <li>Some of the commonly used libraries used by Data Scientists</li>
    <li>Data Science Tools</li>
    <li>few examples of evaluating arithmetic expressions</li>
    <li>multiply and add integers</li>
    <li>convert 200 minutes to hours</li>
</ul>

<h2>Author</h2>
Dev Agnihotri